ion-content {
  --background: var(--purple);
  --color: var(--ion-color-light);
}

.session-done {
  margin-top: 20vh;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.success-icon {
  font-size: 6rem;
  margin-bottom: 1rem;
  animation: bounce 1s infinite ease-in-out;
}

.complete-actions {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  ion-button {
    --background: var(--ion-color-light);
    --color: var(--purple);
    height: 75px;
    --border-radius: 20px;
    --box-shadow: none;
  }
}

//
///* Done state */
//.session-done {
//  text-align: center;
//
//  .done-container {
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    gap: 1.5rem;
//    margin-top: 3rem;
//  }
//
//  .activity-complete {
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    text-align: center;
//    padding: 2rem 1rem;
//    animation: fadeIn 0.8s ease-out;
//
//    .activity-description {
//      color: gray;
//      white-space: pre-wrap;
//      overflow-y: auto;
//      max-height: 8rem;
//      padding-right: 4px;
//      line-height: 1.4;
//    }
//  }
//
//
//  .celebration-icon {
//    font-size: 3rem;
//    margin-bottom: 1rem;
//    animation: pop 1s ease-out;
//  }
//
//  .complete-title {
//    font-size: 2rem;
//    font-weight: 700;
//    color: var(--ion-color-primary);
//    margin-bottom: 0.5rem;
//  }
//
//  .complete-subtitle {
//    font-size: 1.1rem;
//    margin-bottom: 0rem;
//  }
//
//  .complete-actions {
//    width: 100%;
//    max-width: 400px;
//  }
//
//  .progress-info {
//    margin-top: 1rem;
//    color: var(--ion-color-medium);
//    font-size: 0.95rem;
//  }
//
//}
//ion-modal {
//  --height: 50%;
//  align-items: end;
//}
//
//ion-picker {
//  margin-bottom: var(--ion-safe-area-bottom);
//}
//
//.picker-column-option-button {
//  padding: 15px;
//}
