ion-content {
  --background: var(--purple);
  --color: var(--ion-color-light);
}


.main-grid {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.main-row {
  flex: 1;
  display: flex;
}

@media (orientation: portrait) {
  .main-row {
    flex-direction: column;
  }

}

@media (orientation: landscape) {
  .main-row {
    flex-direction: row;
  }
}

.main-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}

.session-done {
  height: 100%;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.success-icon {
  font-size: 6rem;
  margin-bottom: 1rem;
  animation: bounce 1s infinite ease-in-out;
}


ion-button.complete-actions {
  --background: var(--ion-color-light);
  --color: var(--purple);
  height: 75px;
  width: 100%;
  --border-radius: 20px;
  --box-shadow: none;
}

