

.notif-wrapper {
  position: relative;
  margin-bottom: 16px;
  ion-card-subtitle{
    margin-top: 8px;
    display: flex;
  }
  .date-container{
    margin-top: 4px;
    display: flex;
    align-items: center;
    ion-icon{
      margin-right: 4px;
    }
  }
}

.card-actions {
  display: flex;
  justify-content: flex-end;
}

.day-separator {
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}
