.instruction {
  text-align: center;
  color: var(--ion-color-dark);
  padding-top: 10px;
  font-size: 0.9rem;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.camera-card {
  margin-top: 40px;
}
