<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="teal-to-cyan" style="padding-bottom: 50px">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ "scanner.title" | t }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="my-card camera-card">

    <ion-card-content>
      <p class="instruction">
        {{ "scanner.instruction" | t }}
        <ion-icon slot="icon-only" icon="share-social-outline"></ion-icon>
      </p>

      <ion-button
        expand="full"
        class="plain-button ion-margin-top ion-margin-bottom" shape="round"
        (click)="openScanModal()">
        <ion-icon slot="start" name="camera-outline"></ion-icon>

        {{ "scanner.startScan" | t }}
      </ion-button>
    </ion-card-content>

  </ion-card>

</ion-content>
