ion-card-title {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 1rem;
}

ion-card-subtitle {
  font-weight: normal;
  margin-top: 1rem;
}

.instruction {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
