<ion-header class="ion-no-border color-control" [ngClass]="phase()">
  <ion-toolbar class="color-control">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span class="scrolling-text">
      {{ session ? session.name : ("runActivity.activity" | t) }} : {{ currentActivityId + 1 }}
        / {{ session ? session.activities.length : 1 }}
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-padding run-activity-page color-control" [ngClass]="phase()"
>
  <div class="session-container">

    <!-- Activity Header -->
    <ion-grid class="main-grid">
      <ion-row>
        <ion-col size="12" size-sm="6">
          <div class="activity-header">
            @if (!(currentActivity.name === "" || !currentActivity.name)) {
              <ion-card class="name-card">
                <ion-card-content>
                  @if (currentActivity.name) {
                    <h2 class="activity-title">{{ currentActivity.name }}</h2>
                  }
                  @if (currentActivity.description) {
                    <p class="activity-description">{{ currentActivity.description }}</p>
                  }
                </ion-card-content>
              </ion-card>
            }

            <div class="iteration-display">
              <p class="iteration-label">{{ "runActivity.step" | t }}</p>
              <span class="iteration-count">
          {{ currentIteration }} / {{ currentActivity.config.iterations }}
        </span>
            </div>
          </div>

          <!-- Phase Indicator -->
          <div class="phase-indicator" [ngClass]="phase()">
            @switch (phase()) {
              @case ('effort') {
                <ion-icon name="flame-outline"></ion-icon>
                <span>{{ "runActivity.effort" | t }}</span>
              }
              @case ('rest') {
                <ion-icon name="pause-circle-outline"></ion-icon>
                <span>{{ "runActivity.rest" | t }}</span>
              }
              @case ('ready') {
                <ion-icon name="flag-outline"></ion-icon>
                <span>{{ "runActivity.ready" | t }}</span>
              }
            }
          </div>
        </ion-col>
        <ion-col size="12" size-sm="6">

          <!-- Timer or Step Button -->
          @if (phase() === "rest" || currentActivity.type === "time" || phase() === "ready") {
            <div class="timer-section">
              <div class="timer-display">{{ formatTime(timeLeft()) }}</div>

              @if (phase() === 'effort' && currentActivity.type === "time") {
                <ion-progress-bar
                  [value]="timeLeft() / (currentActivity.config.effortTime ?? 1)"
                  color="medium"
                ></ion-progress-bar>
              } @else if (phase() === 'rest') {
                <ion-progress-bar
                  [value]="timeLeft() / currentActivity.config.restTime"
                  color="medium"
                ></ion-progress-bar>
              } @else if (phase() === 'ready') {
                <ion-progress-bar
                  [value]="timeLeft() / readyTime"
                  color="medium"
                ></ion-progress-bar>

              }
              <div class="controls">
                <ion-button expand="block" size="large" class="primary-btn"
                            (click)="startOrPause()">
                  <ion-icon slot="start" [name]="isRunning ? 'pause-circle-outline' : 'play-outline'"></ion-icon>
                  {{ isRunning ? ("runActivity.pause" | t) : ("runActivity.start" | t) }}
                </ion-button>
              </div>
            </div>
          } @else {
            <div class="controls">
              <ion-button class="primary-btn" expand="block" size="large"
                          (click)="_callback()">
                <ion-icon slot="start" name="play-outline"></ion-icon>
                {{ "runActivity.step" | t }}
              </ion-button>
            </div>
          }

        </ion-col>
      </ion-row>


    </ion-grid>


  </div>
</ion-content>

<ion-footer [ngClass]="phase()" class="color-control">
  <div class="toolbar-footer" [ngClass]="phase()">
    <ion-button class="footer-btn rounded" (click)="close()">
      <ion-icon slot="icon-only" name="home-outline"></ion-icon>
    </ion-button>
    <ion-button class="footer-btn long" (click)="skipPhase()">
      <ion-icon slot="start" name="play-skip-forward-outline"></ion-icon>
      {{ "runActivity.skipPhase" | t }}
    </ion-button>
    <ion-button class="footer-btn rounded" (click)="abandonActivity()">
      <ion-icon slot="icon-only" name="stop-outline"></ion-icon>
    </ion-button>
  </div>
</ion-footer>
