ion-footer {
  padding-bottom: var(--ion-safe-area-bottom);
}


.activity-type-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  margin-top: 24px;
  height: 75px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 10px;
}

.activity-type-btn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  background: none;
  border: 2px solid #e3e3e3;
  transition: background 0.2s ease, border-color 0.2s ease;
  text-align: left;
  color: var(--ion-color-text);
}

.activity-type-btn:hover {
  background: #f7faf9;
}

.activity-type-btn.selected {
  background: var(--ion-color-primary-tint);
  border-color: var(--ion-color-primary);
  color: var(--ion-color-primary-shade);
}

.activity-type-title {
  color: var(--ion-text-color);
  margin-bottom: 2px;
  margin-top: 5px;
}
