.activity-button {
  padding: 20px 20px;
  height: 100px;
  --border-radius: 15px;
  --background: #fff;
  --color: var(--ion-color-primary);
  font-size: 1rem;
}

.header {
  --ion-toolbar-background: linear-gradient(to right, #0d9488, #0891b2);
  --color: var(--ion-color-light);
}

ion-button {
  text-transform: none;
}

.button-line {
  display: flex;
  justify-content: space-between;
  align-items: start;

  ion-button {
    margin-inline: 0;
  }
}

.session-card {
  ion-col {
    padding: 0;
  }

  ion-card-header {
    padding-bottom: 0;
    padding-right: 5px;
  }

  ion-card-title {
    font-size: 1.1rem;
    font-weight: normal;
  }

  ion-card-subtitle {
    font-size: 0.9rem;
    color: #666666;
    font-weight: normal;
  }
}


.create-session-button {
  --border-radius: 15px;
  --border-style: dashed;
  --border-color: var(--ion-color-medium);
  --color: var(--ion-color-medium);
  --background: var(--ion-color-light);
  font-size: 1rem;
  font-weight: normal;
}
